<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance | Cloud Student Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<h1>Attendance</h1>

<div class="table-container">
<table>

<tr>
    <th>ID</th>
    <th>Subject</th>
    <th>Total Classes</th>
    <th>Attended</th>
    <th>Percentage</th>
</tr>

{% for row in attendance %}

<tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}%</td>
</tr>

{% endfor %}

</table>

</div>

<br>

<a href="/dashboard" class="btn">← Back to Dashboard</a>

</div>
<footer class="footer">
    <p>© 2026 Cloud Student Management System | Developed by Sanika Jage</p>
</footer>
</body>
</html>